@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.App {
  text-align: center;
  box-sizing: border-box;
}

.main-body{
  background-color: #416165;
  background-size: cover;
  margin: 0;
  height: 100vh;
  font-family: 'Staatliches', cursive;
}

.main-h1{
  color:white;
}

img{ 
  width:50%;
  border-radius: 10px;
}
