@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.App {
  text-align: center;
  box-sizing: border-box;
}

.main-body{
  background-color: #416165;
  
  color:white;
  margin: 0;
  height: 100vh;
  font-family: 'Staatliches', cursive;
}

.main-h1{
 
}

img{ 
  width:30%;
  border-radius: 10px;
}


.about-body{
  background-color: #416165;
  height: 100vh;
  padding-top: 100px;
}